
<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="language" content="en" />
        <script type="text/javascript">
            var browser = 'Chrome';
            var isChrome = !!window.chrome;
            if(isChrome)
                browser = 'Chrome';
            else
                browser = 'Bukan Chrome';
            var base_url = window.location.protocol + "//" + window.location.host + "/" + window.location.pathname;
            var site_url = window.location.protocol + "//" + window.location.host + "/" + window.location.pathname;
            var setlang = 'ina.json';
        </script>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="shortcut icon" href="./assets/images/favicon.ico">

        <title>System Informasi</title>
        <!-- 
        <!--[if lt IE 9]><script src="./assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
          <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
        <!--script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?v=3&key=AIzaSyAjUwuuiY750i5DSdw2ISSws1uoUbTDcVQ&sensor=false&libraries=places"-->
    </head>
    <body>
        <!--Awal Menu Atas-->
        <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="./">System Informasi Koperasi</a>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="./#/profile">Profile</a></li>
                        <li><a href="./index.php/main/logout">Log Out</a></li>
                    </ul>                    
                </div>
            </div>
        </div>
        <!--End Menu Atas-->
        <!--Awal Content -->
        <div class="container-fluid">
            <div class="row">
                <div ng-keyup="keyPress($event.keyCode)" class="table-responsive col-sm-2 col-md-2 sidebar" ng-controller="MenuCtrl">
                    <button  ng-if="show_reload" class="btn btn-primary btn-xs btn-block" ng-click="loadMenu()">Reload Menu</button>
                    <span ng-if="doing_async">...loading...</span>
                    <abn-tree tree-data="my_data" tree-control="my_tree" on-select="my_tree_handler(branch)" expand-level="2" initial-selection="Granny Smith">
                    </abn-tree>
                </div>                    
                <!--End Menu Kiri -->
                <div class="col-sm-8 col-sm-offset-5 col-md-10 col-md-offset-2 main">                    
                    <ng-view></ng-view>
                </div>
            </div>
        </div>

        <script src="./assets/lib/jquery/jquery.min.js"></script>
        <script src="./assets/lib/angularjs/angular.min.js"></script>
        <script src="./assets/js/script.js"></script>
        <script src="./assets/app/app.js"></script>

    </body>
</html>