.clstdnumber{
    text-align: right;
}

.menukiri{
    text-align: left;
    padding-left: 5px;
}

.table-responsive{
    overflow: auto;
}

.txtNone{
    background-color: transparent;
    border: 0px solid;
    height: 20px;
    width: 160px;
    /*color: #CCC;*/
}

.toolbarmain{
    /*margin-top: 35px; */
    margin-left: -17px;
}
.gridStyle {
    border: 1px solid rgb(212,212,212);
    position: absolute;  
    left: 1px; 
    right: 1px; 
    top: 55px; 
    bottom: 1px; 
    overflow: hidden;
}

