<style type="text/css">
    .gridStyle1{
        height: 600px;
    }
    .gridStyle2{
        height: 250px;
    }
    .grid-center{
        text-align: center;
    }
    .grid-loading{
        /*background-color: #D2D2D2;*/
        text-align: center;
    }
</style>

<div class="row" style="overflow-x: auto; overflow-y: auto;">
    <div class="col-md-6">
        
        <div class="panel panel-primary panel-grid">
            <div class="panel-heading">Anggota</div>
            <div class="gridStyle1" ng-grid="gridOptionsAnggota" ></div>
        </div>
        
    </div>
    <div class="col-md-6 ">
        <toaster-container toaster-options="{'time-out': 2000, 'close-button':true,'position-class':'toast-top-center'}"></toaster-container>
        <div class="panel panel-success panel-grid">
            <div class="panel-heading">
                
                <button type="button" class="btn btn-info btn-sm" ng-click="ShowAdd()"><i class="glyphicon glyphicon-plus"></i> Add</button>
                <button type="button" class="btn btn-warning btn-sm" ng-click="ShowEdit()"><i class="glyphicon glyphicon-pencil"></i> Edit</button>
                <button type="button" class="btn btn-danger btn-sm" ng-click="ShowDelete()"><i class="glyphicon glyphicon-remove"></i> Delete</button>
            </div>
            <div class="gridStyle1" ng-grid="gridOptions" ></div>
            
        </div>
        
        
    </div>
</div>

<div class="modal fade bootstrap-dialog type-primary" id="window-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Add / Edit data</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" role="form">
                    <div class="form-group" >
                        <label for="inputname" class="col-sm-3 control-label">Tanggal</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="inputname" placeholder="Name" ng-model="dataRecSelectDetail[0].tgl">
                        </div>
                    </div>
                    <div class="form-group" >
                        <label for="inputage" class="col-sm-3 control-label">Nama Pinjaman</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="inputage" placeholder="age" ng-model="dataRecSelectDetail[0].name">
                        </div>
                    </div>
                    <div class="form-group" >
                        <label for="inputage" class="col-sm-3 control-label">Nilai</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="inputage" placeholder="age" ng-model="dataRecSelectDetail[0].nilai">
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" ng-click="Save()" class="btn btn-primary btn-sm">Save changes</button>
                <button type="button" ng-click="CancelSave()" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-folder-open"></span> Close</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->