<div class="toolbarmain">
    <button type="button" class="btn btn-info btn-sm" ng-click="ShowAdd()"><i class="glyphicon glyphicon-plus"></i> Add</button>
    <button type="button" class="btn btn-warning btn-sm" ng-click="ShowEdit()"><i class="glyphicon glyphicon-pencil"></i> Edit</button>
    <button type="button" class="btn btn-danger btn-sm" ng-click="ShowDelete()"><i class="glyphicon glyphicon-remove"></i> Delete</button>
    <button type="button" class="btn btn-default btn-sm" ng-click="Print()"><i class="glyphicon glyphicon-print"></i> Print</button>
    <button type="button" class="btn btn-primary btn-sm" ng-click="Reload()"><i class="glyphicon glyphicon-refresh"></i> Reload</button>
    <button type="button" class="btn btn-primary btn-sm" ng-click="ShowFilter()"><i class="glyphicon glyphicon-filter"></i> Filter</button>
    <button type="button" class="btn btn-primary btn-sm" ng-click="ResetFilter()"><i class="glyphicon glyphicon-filter"></i> Reset Filter</button>
</div>
<div class="gridStyle" ng-grid="gridOptions" ></div>
<!-- Filter Form -->
<div class="modal fade bootstrap-dialog type-primary" id="window-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Add / Edit data</h4>
            </div>
            <div class="modal-body">
            	<form class="form-horizontal" role="form">
                    <div class="form-group" >
                        <label for="inputname" class="col-sm-2 control-label">Kode</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control input-sm" id="inputname" placeholder="Kode" ng-model="dataRecSelect[0].p_code">
                        </div>
                    </div>
                    <div class="form-group" >
                        <label for="inputage" class="col-sm-2 control-label">Tgl Mulai</label>
                        <div class="col-sm-5 input-group">
                            <input d-date de-focus ng-model="dataRecSelect[0].p_start" type="text" class="form-control input-sm"  placeholder="Pilih tanggal Awal">
                            <span class="input-group-btn" data-toggle="datepicker" >
                                <a href="" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-calendar"></span></a>
                            </span>
                        </div>
                    </div>
                    <div class="form-group" >
                        <label for="inputage" class="col-sm-2 control-label">Tgl Selesai</label>
                        <div class="col-sm-5 input-group">
                            <input d-date de-focus ng-model="dataRecSelect[0].p_stop" type="text" class="form-control input-sm"  placeholder="Pilih tanggal Awal">
                            <span class="input-group-btn" data-toggle="datepicker" >
                                <a href="" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-calendar"></span></a>
                            </span>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" ng-click="Save()" class="btn btn-success btn-sm">Save changes</button>
                <button type="button" ng-click="CancelSave()" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-folder-open"></span> Close</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!-- Filter Form -->
<div class="modal fade bootstrap-dialog type-primary" id="window-filter" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title"><i class="glyphicon glyphicon-filter"></i> Filter</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" role="form">
                    <div class="form-group" ng-repeat="(key, value) in fields" >
                        <label for="input{{item.name}}" class="col-sm-2 control-label">{{key}}</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="input{{key}}" placeholder="{{key}}" ng-model="fields[key]">
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" ng-click="FilterData()" class="btn btn-success btn-sm"><i class="glyphicon glyphicon-filter"></i> Filter</button>
                <button type="button" class="btn btn-danger btn-sm" data-dismiss="modal"><span class="glyphicon glyphicon-folder-open"></span> Close</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<toaster-container toaster-options="{'time-out': 3000, 'close-button':true,'position-class':'toast-top-center'}"></toaster-container>
<script type="text/javascript">
    $(".modal").draggable({
        handle: ".modal-header"
    });
</script>