<ul class="nav nav-tabs" >
    <li ng-class="{'active':'t' == aktif}"><a href="" ng-click="aktif='t'" data-toggle="tab">Pertanggal</a></li>
    <li ng-class="{'active':'b' == aktif}"><a href="" ng-click="aktif='b'" data-toggle="tab">Perbulan</a></li>
    <li ng-class="{'active':'h' == aktif}"><a href="" ng-click="aktif='h'" data-toggle="tab">Pertahun</a></li>
</ul>
<div id='content' class="tab-content" style="padding: 10px 10px 10px 10px; border-left: 1px solid #ddd; border-right:
1px
solid #ddd;
border-bottom: 1px solid #ddd;
margin-bottom: 4px; ">
    <div class="tab-pane" ng-class="{'active':'t' == aktif}">
        <div class="row">
            <!--   input-group input-group-sm -->
            <div class="col-xs-2">
                <div class="input-group">
                    <input d-date de-focus ng-model="tgl1" type="text" class="form-control input-sm" id="po_tgl_berdiri" placeholder="Pilih tanggal 1">
                    <span class="input-group-btn" data-toggle="datepicker" >
                        <a href="" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-calendar"></span></a>
                    </span>
                </div>
            </div>
            <div class="col-xs-1" style="width: 40px;">s/d</div>
            <div class="col-xs-2">
                <div class="input-group">
                    <input d-date de-focus ng-model="tgl2" type="text" class="form-control input-sm" id="po_tgl_berdiri" placeholder="Pilih tanggal 1">
                    <span class="input-group-btn" data-toggle="datepicker" >
                        <a href="" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-calendar"></span></a>
                    </span>
                </div>
            </div>            
        </div>
        
        <div class="row" style="margin-top:10px;">
            <div class="col-sm-6">
                <a href="" ng-click="cetakPerTanggal();" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-print"></span> Print</a>
                <a href="" ng-click="exportPerTanggal();" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-export"></span> Export xls</a>
            </div>
        </div>
    </div>
    <div class="tab-pane" ng-class="{'active':'b' == aktif}">
        <div class="row">
            <div class="col-sm-4 ">
                <select ng-model="bln"  class="form-control input-sm" style="width: 70%; float:left;">
                    <option value="{{bln.id}}"  ng-repeat="bln in bulans">{{bln.name}}</option >
                </select>
                <input class="form-control input-sm"  ng-model="bln_tahun" type="number" style="width: 30%;"/>
            </div>                
        </div>
        <div class="row" style="margin-top:10px;">
            <div class="col-sm-6">
                <a href="" ng-click="cetakPerBulan();" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-print"></span> Print</a>
                <a href="" ng-click="exportPerBulan();" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-export"></span> Export xls</a>
            </div>
        </div>
    </div>
    <div class="tab-pane" ng-class="{'active':'h' == aktif}">
        <div class="row">
            <div class="col-sm-2 ">
                <input ng-model="tahun" type="number" />
            </div>                
        </div>
        <div class="row" style="margin-top:10px;">
            <div class="col-sm-6">
                <a href="" ng-click="cetakPerTahun();" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-print"></span> Print</a>
                <a href="" ng-click="exportPerTahun();" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-export"></span> Export xls</a>
            </div>
        </div>
    </div>
</div>